.header-outer {
  width: 100%; }

@media screen and (max-width: 480px) {
  .brand-logo-header {
    display: block;
    margin: 0 auto; } }

.hdr-top,
.hdr-middle {
  padding-top: 16px;
  padding-bottom: 32px; }

.hdr-bottom {
  padding-top: 16px;
  padding-bottom: 16px; }

@media screen and (max-width: 692px) {
  .hdr-bottom {
    padding-top: 0px; } }

.hdr-top {
  padding-top: 32px; }

.hdr-top .content-right {
  float: right; }

@media screen and (max-width: 1024px) {
  .hdr-top .content-right {
    float: none;
    margin: 0 auto; }
  .hdr-top .content-right:before {
    clear: both;
    content: "";
    display: table; }
  .hdr-top .content-right ul {
    padding-top: 16px;
    margin-top: 24px; }
  .hdr-top .content-right ul:after {
    clear: both;
    content: "";
    display: table; } }

.hdr-top .content-right li {
  cursor: pointer;
  float: left;
  padding: 4px; }

.hdr-top .content-right li span {
  float: left; }

.hdr-top .content-right li.li-vr-line {
  float: left;
  width: 24px;
  height: 24px; }

.hdr-top .content-left {
  float: left; }

@media screen and (max-width: 480px) {
  .hdr-top .content-left {
    float: none;
    width: 100%; }
  .hdr-top .content-left:after {
    clear: both;
    content: "";
    display: table; } }

.hdr-top .cart {
  margin-right: 8px;
  float: left; }

.hdr-top .user-profile {
  margin-right: 8px;
  float: left; }

.hdr-top .ltgt-up {
  float: right;
  margin-left: 8px; }

.hdr-middle .header-middle-wrapper {
  margin: 0 auto; }

.hdr-middle .log-in,
.hdr-middle .email-field,
.hdr-middle .password-field,
.hdr-middle .log-in-btn,
.hdr-middle .continue-btn {
  display: block;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px; }

@media screen and (max-width: 692px) {
  .hdr-middle .log-in,
  .hdr-middle .email-field,
  .hdr-middle .password-wrapper,
  .hdr-middle .log-in-btn,
  .hdr-middle .continue-btn {
    float: none;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100% !important; }
  .hdr-middle .log-in:after,
  .hdr-middle .email-field:after,
  .hdr-middle .password-wrapper:after,
  .hdr-middle .log-in-btn:after,
  .hdr-middle .continue-btn:after {
    clear: both;
    display: table;
    content: ""; } }

.hdr-middle .email-field {
  width: 160px; }

.hdr-middle .password-field {
  width: 120px;
  margin-right: 0;
  padding-right: 0; }

.hdr-middle .log-in-btn,
.hdr-middle .continue-btn {
  text-decoration: none;
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px; }

.hdr-middle .log-in {
  padding: 6px; }

.hdr-middle .forget-q {
  padding-top: 6px;
  padding-right: 6px;
  margin-left: 0;
  padding-left: 0; }

.hdr-middle .email-field,
.hdr-middle .password-wrapper,
.hdr-middle .password-field {
  border: none;
  outline: none; }

.hdr-middle .password-wrapper {
  margin-right: 8px;
  margin-left: 8px; }

.brand-subheading {
  margin-left: 16px; }

@media screen and (max-width: 692px) {
  .brand-subheading {
    display: block;
    margin: 8px auto;
    margin-bottom: 16px; } }

.main-nav li a {
  position: relative;
  text-decoration: none;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px; }

.main-nav li a.plus-after {
  padding-right: 28px; }

.main-nav li a.plus-after:after {
  content: "+";
  position: absolute;
  padding: 3px;
  right: 8px; }

.search-box-wrapper {
  position: relative;
  top: -8px;
  padding: 6px; }

.search-box-wrapper .search-box {
  padding: 2px;
  outline: none;
  border: none; }

.search-box-wrapper.small {
  top: 0px;
  display: none; }

@media screen and (max-width: 480px) {
  .search-box-wrapper.small {
    float: none;
    width: 200px;
    margin: 0 auto; }
  .search-box-wrapper.small:after {
    clear: both;
    display: table;
    content: ""; } }

@media screen and (max-width: 1024px) {
  .search-box-wrapper.large {
    display: none; }
  .search-box-wrapper.small {
    display: block; } }

.sec-slider {
  width: 100%;
  position: relative; }

@media screen and (max-width: 1024px) {
  .sec-slider {
    margin-bottom: 24px; } }

.slider-main-image {
  width: 100%;
  float: left; }

.slider-content-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0; }

.slider-content-wrapper .para {
  max-width: 600px; }

.slider-content-wrapper .title,
.slider-content-wrapper .para {
  float: left;
  padding: 16px;
  margin: 8px; }

.slider-content-wrapper .title:after,
.slider-content-wrapper .para:after {
  clear: both;
  content: "";
  display: table; }

.slider-content-wrapper .title a,
.slider-content-wrapper .para a {
  text-decoration: none; }

.slider-position-wrapper {
  margin: 0 auto; }

.slider-position-wrapper .slider-position-inner {
  position: relative;
  top: 22px; }

.slider-position-wrapper li {
  cursor: pointer;
  margin: 8px;
  padding: 4px;
  border-radius: 100px;
  padding-left: 8px;
  padding-right: 8px; }

.welcome-right,
.welcome-left {
  width: 50%;
  padding: 16px;
  text-align: center; }

.welcome-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.welcome-right img {
  width: 100%; }

.welcome-sec {
  width: 100%;
  padding: 24px;
  position: relative; }

.welcome-sec .container {
  width: 100%;
  position: relative; }

.welcome-sec .bold {
  margin-top: 8px; }

.welcome-sec p {
  line-height: 24px; }

.head-wrap {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 24px; }

.featured-head {
  width: 100%;
  position: relative; }

.featured-head .view-more-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }

.featured-collection {
  float: left;
  margin-bottom: 32px; }

.featured-item {
  float: left;
  padding: 12px;
  margin: 16px;
  position: relative; }

.featured-item .product-image {
  width: 190px;
  height: 240px;
  object-fit: cover; }

.featured-item .product-info {
  text-align: center;
  margin: 8px; }

.featured-item .product-price {
  margin: 8px;
  text-align: center;
  height: 20px; }

.featured-item .sale {
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (max-width: 480px) {
  .featured-item .product-image {
    width: 270px;
    height: 330px;
    object-fit: cover; } }

.offr-collection img {
  margin: 8px; }

@media screen and (max-width: 692px) {
  .offr-collection img {
    width: 90%;
    display: block;
    margin: 8px auto; } }

.sec-bottom-main > div .latest {
  width: 40%; }

.sec-bottom-main > div .best-seller {
  width: 25%; }

@media screen and (max-width: 692px) {
  .sec-bottom-main > div .latest,
  .sec-bottom-main > div .best-seller {
    width: 90%;
    float: none;
    margin: 8px auto; }
  .sec-bottom-main > div .latest:after,
  .sec-bottom-main > div .best-seller:after {
    clear: both;
    display: table;
    content: ""; } }

.sec-bottom-main > div > div {
  margin: 16px; }

.latest-item {
  padding-bottom: 24px; }

.latest-item .title {
  margin: 8px;
  margin-left: 0; }

.latest-item .info-cont {
  margin: 8px;
  margin-left: 0; }

.latest-item p a {
  text-decoration: none; }

.best-seller {
  min-width: 250px; }

.best-sell-item {
  float: left;
  padding: 8px;
  margin: 4px;
  position: relative; }

.best-sell-item .product-image {
  width: 100px;
  height: 100px;
  object-fit: cover; }

.best-sell-item .product-price {
  margin: 8px;
  text-align: center; }

.best-sell-item .sale {
  position: absolute;
  top: 0;
  left: 0; }

.about-and-contact {
  min-width: 240px;
  width: 25%; }

.about-and-contact p {
  margin: 8px;
  margin-left: 0;
  margin-right: 0; }

.about-and-contact .message,
.about-and-contact .call {
  width: 20px;
  height: 20px; }

@media screen and (max-width: 1024px) {
  .about-and-contact {
    width: 100%;
    padding-bottom: 32px; } }

footer {
  width: 100%; }

footer .head-wrap {
  margin-bottom: 0px; }

footer > div .footer-lts-news {
  width: 35%; }

footer > div .news-ltr {
  width: 20%; }

@media screen and (max-width: 1024px) {
  footer > div .news-ltr {
    width: 25%; } }

footer > div .about-us-block {
  width: 18%; }

@media screen and (max-width: 1024px) {
  footer > div .about-us-block {
    width: 25%; } }

@media screen and (max-width: 692px) {
  footer > div .footer-lts-news,
  footer > div .news-ltr,
  footer > div .about-us-block {
    float: none;
    width: 80%;
    margin: 16px auto; }
  footer > div .footer-lts-news:after,
  footer > div .news-ltr:after,
  footer > div .about-us-block:after {
    clear: both;
    display: table;
    content: ""; } }

footer > div > div {
  margin: 16px; }

@media screen and (max-width: 1024px) {
  .footer-navigation {
    display: none; } }

.ftr-navigation-body a {
  text-decoration: none;
  padding: 2px;
  padding-left: 12px;
  display: inline-block; }

.ftr-navigation-body a:first-child {
  padding-top: 0; }

.footer-lts-news .tweets {
  margin-right: 8px;
  margin-top: 4px;
  width: 24px;
  height: 24px; }

.footer-lts-news p {
  width: calc(100% - 32px); }

.footer-lts-news a {
  text-decoration: none; }

.footer-lts-news .tweets-body > div {
  margin: 16px;
  margin-left: 0;
  margin-right: 0; }

.footer-lts-news .tweets-body > div:first-child {
  margin-top: 0; }

.about-us-block p,
.news-ltr p {
  margin: 8px;
  margin-left: 0;
  margin-bottom: 0; }

.news-ltr .search-wrapper {
  position: relative;
  width: 100%;
  margin-top: 8px; }

@media screen and (max-width: 692px) {
  .news-ltr .search-wrapper {
    width: 200px;
    margin: 0 auto;
    padding: 4px;
    margin-top: 8px; } }

.news-ltr .search-wrapper input {
  border: none;
  outline: none;
  width: calc(100% - 32px); }

.news-ltr .search-wrapper .mail {
  margin-top: 1px;
  margin-left: 2px; }

.about-us-body i {
  filter: grayscale(100%);
  width: 24px;
  height: 24px; }

.copy-inner {
  margin: 0 auto; }

.copy-inner span {
  float: left;
  margin: 8px; }

.copy-inner img {
  float: left; }

.copy-inner .shopify-logo {
  margin: 8px; }

.copy {
  padding: 32px;
  padding-top: 24px; }

.copy .item-sep {
  float: left;
  width: 24px;
  height: 36px;
  margin: 4px; }

.footer-top {
  padding-bottom: 32px; }

.nav-selector {
  left: 8px;
  float: left;
  margin: 19px 0 0 0;
  display: block;
  position: relative;
  float: left; }

.nav-selector span {
  width: 103px;
  padding: 5px 10px 3px 30px;
  border: 1px solid #01000000;
  display: block; }

.nav-selector span:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 9px; }

.nav-selector select {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  height: 31px;
  border: none;
  width: 100%;
  margin: 0; }

.nav-selector select option {
  padding: 5px 10px; }
