.header-outer {
  width: 100%; }

.hdr-top,
.hdr-middle {
  background: url(../Images/line-seperator.png) no-repeat bottom left;
  padding-top: 16px;
  padding-bottom: 32px; }

.hdr-bottom {
  padding-top: 16px;
  padding-bottom: 16px; }

.hdr-top {
  padding-top: 32px; }

.hdr-top .content-right {
  float: right; }

.hdr-top .content-right li {
  cursor: pointer;
  float: left;
  padding: 4px; }

.hdr-top .content-right li span {
  float: left; }

.hdr-top .content-right li.li-vr-line {
  background: url(../Images/icons/nav-seperator.png) no-repeat center center;
  background-size: 2px 8px;
  float: left;
  width: 24px;
  height: 24px; }

.hdr-top .content-left {
  float: left; }

.hdr-top .cart {
  margin-right: 8px;
  float: left;
  background-image: url(../Images/icons/cart-black.png); }

.hdr-top .user-profile {
  margin-right: 8px;
  float: left;
  background-image: url(../Images/icons/user-profile.png); }

.hdr-top .ltgt-up {
  float: right;
  background-image: url(../Images/icons/ltgt-up-icon.png);
  background-size: 60%;
  margin-left: 8px; }

.hdr-middle .header-middle-wrapper {
  margin: 0 auto; }

.hdr-middle .log-in,
.hdr-middle .email-field,
.hdr-middle .password-field,
.hdr-middle .log-in-btn,
.hdr-middle .continue-btn {
  display: block;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px; }

.hdr-middle .email-field {
  width: 160px; }

.hdr-middle .password-field {
  width: 120px;
  margin-right: 0;
  padding-right: 0; }

.hdr-middle .log-in-btn,
.hdr-middle .continue-btn {
  background-color: #cc003e;
  color: white;
  text-decoration: none;
  padding: 6px;
  padding-right: 16px;
  padding-left: 16px; }

.hdr-middle .log-in {
  padding: 6px; }

.hdr-middle .forget-q {
  padding-top: 6px;
  padding-right: 6px;
  margin-left: 0;
  padding-left: 0; }

.hdr-middle .log-in {
  font-weight: bold; }

.hdr-middle .email-field,
.hdr-middle .password-wrapper,
.hdr-middle .password-field {
  background-color: white;
  border: none;
  outline: none; }

.hdr-middle .password-wrapper {
  margin-right: 8px;
  margin-left: 8px; }

.brand-subheading {
  margin-left: 16px; }

.main-nav li a {
  position: relative;
  text-decoration: none;
  color: #555;
  font-weight: lighter;
  font-size: 22px;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px; }

.main-nav li a:hover {
  color: white;
  background-color: black; }

.main-nav li a.plus-after {
  padding-right: 28px; }

.main-nav li a.plus-after:after {
  content: "+";
  position: absolute;
  padding: 3px;
  right: 8px;
  font-size: 20px; }

.search-box-wrapper {
  background-color: white;
  padding: 6px; }

.search-box-wrapper .search {
  background-image: url(../Images/icons/search-black.png); }

.search-box-wrapper .search-box {
  padding: 2px;
  outline: none;
  border: none; }

.sec-slider {
  width: 100%;
  position: relative; }

.slider-main-image {
  width: 100%;
  float: left; }

.slider-content-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0; }

.slider-content-wrapper .title {
  font-size: 36px; }

.slider-content-wrapper .para {
  max-width: 600px; }

.slider-content-wrapper .title,
.slider-content-wrapper .para {
  float: left;
  padding: 16px;
  color: white;
  background-color: #cc003e;
  margin: 8px; }

.slider-content-wrapper .title:after,
.slider-content-wrapper .para:after {
  clear: both;
  content: "";
  display: table; }

.slider-content-wrapper .title a,
.slider-content-wrapper .para a {
  font-weight: bold;
  color: white;
  text-decoration: none; }

.slider-position-wrapper {
  margin: 0 auto; }

.slider-position-wrapper .slider-position-inner {
  position: relative;
  top: 22px; }

.slider-position-wrapper li {
  cursor: pointer;
  margin: 8px;
  background-color: white;
  color: #cc003e;
  padding: 4px;
  font-weight: bold;
  border-radius: 100px;
  padding-left: 8px;
  padding-right: 8px; }

.slider-position-wrapper li.active {
  color: white;
  background-color: #cc003e; }

.welcome-right,
.welcome-left {
  width: 50%;
  padding: 16px;
  text-align: center; }

.welcome-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.welcome-sec {
  width: 100%;
  padding: 24px;
  position: relative; }

.welcome-sec .container {
  width: 100%;
  position: relative; }

.welcome-sec .bold {
  font-weight: bold;
  margin-top: 8px; }

.welcome-sec p {
  font-size: 14px;
  line-height: 24px; }

.head-wrap {
  background: url(../Images/line-seperator.png) no-repeat bottom left;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 24px; }

.head-title {
  color: #555;
  font-size: 24px; }

.featured-head {
  width: 100%;
  position: relative; }

.featured-head .eye {
  background-image: url(../Images/icons/eye.png); }

.featured-head .view-more-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }

.featured-collection {
  float: left;
  margin-bottom: 32px; }

.featured-item {
  float: left;
  padding: 12px;
  margin: 16px;
  background-color: white;
  position: relative; }

.featured-item .product-image {
  width: 190px;
  height: 240px;
  object-fit: cover; }

.featured-item .product-info {
  font-size: 13px;
  color: #555;
  text-align: center;
  margin: 8px; }

.featured-item .product-price {
  margin: 8px;
  color: #cc003e;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  height: 20px; }

.featured-item .product-price span {
  font-size: 14px;
  color: #888; }

.featured-item .sale {
  position: absolute;
  top: 0;
  left: 0; }

.offr-collection img {
  margin: 8px; }

.sec-bottom-main > div > div {
  margin: 16px; }

.sec-bottom-main > div > div:nth-child(1) {
  width: 40%; }

.sec-bottom-main > div > div:nth-child(2) {
  width: 25%; }

.sec-bottom-main > div > div:nth-child(3) {
  width: 25%; }

.latest-item {
  background: url(../Images/line-seperator.png) no-repeat bottom;
  padding-bottom: 24px; }

.latest-item .title {
  color: #cc003e;
  margin: 8px;
  margin-left: 0;
  font-size: 16px; }

.latest-item .clock {
  background-image: url(../Images/icons/clock.png); }

.latest-item .chat {
  background-image: url(../Images/icons/chat.png); }

.latest-item .seperator {
  background: url(../Images/icons/nav-seperator.png) no-repeat center center;
  background-size: 2px 8px; }

.latest-item .info-cont {
  margin: 8px;
  margin-left: 0; }

.latest-item p {
  font-size: 14px; }

.latest-item p a {
  color: #cc003e;
  font-weight: bold;
  text-decoration: none; }

.best-sell-item {
  float: left;
  padding: 8px;
  margin: 4px;
  background-color: white;
  position: relative; }

.best-sell-item .product-image {
  width: 100px;
  height: 100px;
  object-fit: cover; }

.best-sell-item .product-price {
  margin: 8px;
  color: #cc003e;
  font-weight: bold;
  font-size: 16px;
  text-align: center; }

.best-sell-item .product-price span {
  font-size: 14px;
  color: #888; }

.best-sell-item .sale {
  position: absolute;
  top: 0;
  left: 0; }

.about-and-contact p {
  font-size: 14px;
  margin: 8px;
  margin-left: 0;
  margin-right: 0; }

.about-and-contact .call {
  background-image: url(../Images/icons//call.png); }

.about-and-contact .message {
  background-image: url(../Images/icons/message.png); }

footer {
  background-color: #333;
  width: 100%; }

footer .head-wrap {
  margin-bottom: 0px; }

footer .head-title {
  color: #bbb; }

footer > div > div {
  margin: 16px; }

footer > div > div:nth-child(2) {
  width: 35%; }

footer > div > div:nth-child(3) {
  width: 20%; }

footer > div > div:nth-child(4) {
  width: 18%; }

.ftr-navigation-body a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  background: url(../Images/icons/red-dot-li.png) no-repeat left center;
  padding: 2px;
  padding-left: 12px;
  display: inline-block; }

.ftr-navigation-body a:first-child {
  padding-top: 0; }

.footer-lts-news .tweets {
  background-image: url(../Images/icons/twitter.png);
  margin-right: 8px;
  margin-top: 4px;
  width: 24px;
  height: 24px; }

.footer-lts-news p {
  font-size: 12px;
  color: white;
  width: calc(100% - 32px); }

.footer-lts-news a {
  color: #cc003e;
  text-decoration: none; }

.footer-lts-news .tweets-body > div {
  margin: 16px;
  margin-left: 0;
  margin-right: 0; }

.footer-lts-news .tweets-body > div:first-child {
  margin-top: 0; }

.about-us-block p,
.news-ltr p {
  color: white;
  font-size: 12px;
  margin: 8px;
  margin-left: 0;
  margin-bottom: 0; }

.about-us-block .bold,
.news-ltr .bold {
  font-weight: bold; }

.news-ltr .search-wrapper {
  background-color: #eee;
  position: relative;
  width: 100%;
  margin-top: 8px; }

.news-ltr .search-wrapper input {
  border: none;
  outline: none;
  width: calc(100% - 32px);
  background-color: transparent; }

.news-ltr .search-wrapper .message {
  margin-top: 1px;
  margin-left: 2px;
  background-image: url(../Images/icons/search-black.png); }

.about-us-body > div > i {
  filter: grayscale(100%);
  width: 24px;
  height: 24px; }

.about-us-body > div > i:nth-child(1) {
  background-image: url(../Images/sm/yt.png); }

.about-us-body > div > i:nth-child(2) {
  background-image: url(../Images/sm/fb.png); }

.about-us-body > div > i:nth-child(3) {
  background-image: url(../Images/sm/twit.png); }

.about-us-body > div > i:nth-child(4) {
  background-image: url(../Images/sm/un.png); }

.about-us-body > div > i:nth-child(5) {
  background-image: url(../Images/sm/un2.png); }

.about-us-body > div > i:nth-child(6) {
  background-image: url(../Images/sm/printest.png); }

.about-us-body > div > i:nth-child(7) {
  background-image: url(../Images/cards/1.png); }

.about-us-body > div > i:nth-child(8) {
  background-image: url(../Images/cards/2.png); }

.about-us-body > div > i:nth-child(9) {
  background-image: url(../Images/cards/3.png); }

.about-us-body > div > i:nth-child(10) {
  background-image: url(../Images/cards/4.png); }

.about-us-body > div > i:nth-child(11) {
  background-image: url(../Images/cards/5.png); }

.about-us-body > div > i:nth-child(12) {
  background-image: url(../Images/cards/6.png); }

.copy-inner {
  margin: 0 auto; }

.copy-inner span {
  color: #aaa;
  float: left;
  margin: 8px; }

.copy-inner img {
  float: left; }

.copy-inner img:last-of-type {
  margin: 8px; }

.copy {
  padding: 32px;
  padding-top: 24px; }

.footer-top {
  background: url(../Images/copy-line-sep.png) no-repeat bottom center;
  padding-bottom: 32px; }
