/*Header Starts*/
/* .main-wrapper{
  min-width:1002px;
} */
.header {
  margin-bottom: 30px; }

.top-header {
  background-color: #7dd8e8;
  padding: 30px; }

.bottom-header {
  background-color: #f5f5f5; }

.container {
  margin: 0 auto;
  max-width: 940px; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.logo-wrapper {
  margin-right: 24px; }

.search-bar-wrapper {
  margin: 10px 0 0 0; }

.search-button-wrapper {
  background-color: #274f56;
  margin: 10px 0 0 7px; }

.search-button-link {
  color: #fff;
  padding: 5px 9px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 20px; }

.search-bar-input {
  border: none;
  outline: none;
  background-color: #caeff7;
  margin: 0 22px 0px 6px;
  width: 248px;
  height: 20px;
  color: #9ba8ae;
  font-size: 12px;
  line-height: 20px; }

.search-bar-left {
  position: relative;
  background: url("../images/left-search-input.jpg") no-repeat left top; }

.search-bar-left > img {
  position: absolute;
  right: 22px;
  top: 0; }

.search-bar-right {
  background: url("../images/right-search-input.jpg") no-repeat top right;
  cursor: pointer; }

.search-button-left {
  background: url("../images/search-button-left.jpg") no-repeat left top; }

.search-button-right {
  background: url("../images/search-button-right.jpg") no-repeat top right; }

.user-navigation {
  text-align: right;
  margin-bottom: 10px; }

.user-name {
  font-size: 18px;
  font-weight: bold; }

.user-navigation-options ul {
  line-height: 15px; }

.user-navigation-options ul li {
  padding: 0 5px;
  float: left; }

.user-navigation-options ul li a {
  font-size: 14px;
  color: #000;
  font-weight: bold; }

.user-navigation-options ul li + li {
  background: url("../images/pipe-sign.jpg") no-repeat 0 50%; }

.user-navigation-options ul li:hover a {
  color: #fff; }

.bottom-header-navbar ul li,
.bottom-header-notifications ul li {
  font-size: 14px;
  float: left;
  line-height: 40px; }

.bottom-header-navbar ul li a {
  color: #000;
  font-weight: bold;
  display: block;
  padding: 0 15px; }

.bottom-header-navbar ul li a:hover {
  background-color: #7dd9e8;
  color: #fff; }

.bottom-header-navbar ul li:first-child a {
  padding: 0 4px; }

.user-navigation-options ul li:first-child + li + li {
  padding-right: 0; }

.bottom-header-notifications ul li {
  margin: 0 10px;
  font-size: 15px; }

.bottom-header-notifications ul li:first-child.active {
  background: url("../images/icons/invite-icon.png") no-repeat 0; }

.bottom-header-notifications ul li:first-child + li {
  background: url("../images/icons/person-icon.png") no-repeat 0; }

.bottom-header-notifications ul li a {
  color: #adadad;
  display: block;
  padding-left: 22px;
  font-size: 14px; }

.bottom-header-notifications ul li.active a {
  margin-left: -8px;
  font-weight: bold;
  color: #000; }

/* Header Ends */
/* Body Starts */
.main-container .container {
  background: url("../images/body-background.png"); }

.main-container .container {
  background: url("../images/body-background.png"); }

.main-container .container .main-container-left .left-sidebar-wrapper {
  width: 195px; }

.entries-wrapper {
  width: 518px;
  padding: 0 26px; }

.main-container .container .right-container {
  width: 175px; }

.main-container .container .left-container {
  width: 765px; }

.sidebar-title {
  font-weight: bold;
  background: #72bfd7;
  color: #fff;
  line-height: 42px;
  padding: 0 13px;
  font-size: 18px; }

.sidebar-content ul li {
  position: relative; }

.sidebar-content ul li a:first-child {
  padding: 15px 0 15px 13px;
  width: 130px;
  display: block;
  font-size: 10px;
  color: #000;
  font-weight: bold; }

.sidebar-content ul li:hover {
  background: #fff; }

.sidebar-content ul li span {
  padding: 0 5px;
  right: 0;
  position: absolute;
  top: 13px;
  right: 13px; }

.entries-tab-wrapper {
  background: url("../images/tab-wrapper.png") no-repeat;
  background-size: 100% 100%;
  border-bottom: 3px solid #72bfd7; }

.entries-title {
  font-weight: bold;
  font-size: 32px;
  padding: 0;
  margin-bottom: 8px; }

.tab-title {
  font-weight: bold;
  padding: 8px 0 6px 0;
  text-align: center;
  font-size: 14px; }

.tab-wrapper {
  width: 100%; }

.tab-wrapper ul li {
  float: left;
  background: url(../images/inactive-tab.png) no-repeat;
  padding: 0px 5px;
  width: 110px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -4px; }

.all-entries-wrapper.left {
  padding-left: 12px; }

.all-entries-wrapper.right {
  padding-right: 6px; }

.tab-wrapper ul li:hover {
  background: url(../images/active-tab.png) no-repeat;
  color: #fff; }

.tab-wrapper ul li.tab-active {
  background: url(../images/active-tab.png) no-repeat; }

.tab-wrapper ul li a {
  text-decoration: none;
  color: #000;
  line-height: 28px;
  display: block;
  text-align: center;
  padding: 2px 0; }

.tab-wrapper ul li.tab-active a,
.tab-wrapper ul li:hover a {
  color: #fff; }

.user-photo-wrapper {
  width: 72px; }

.user-photo img {
  width: 100%; }

.user-photo-wrapper .frame {
  position: absolute; }

.user-post-info {
  width: 428px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 12px; }

.user-post-info .entry-status {
  color: #72bfd7; }

.entry-status.red {
  color: #e06c53; }

.user-post-info .detail {
  font-size: 14px;
  margin-bottom: 2px; }

.detail a {
  color: #000; }

.entries-blog ul li {
  background: url("../images/horizontal-line.png") no-repeat bottom;
  padding: 15px 0; }

.user-post-info span,
.user-post-info p {
  color: #616161;
  line-height: 18px; }

.entry-user-name,
.entry-date,
.topic-box-left {
  color: #888888; }

.entry-user-name a,
.favourites a {
  color: #73c0d7;
  font-weight: bold; }

.right-border {
  margin: 0 5px;
  border-right: 2px solid #888888; }

.entry-subscribe a {
  color: #7c9531; }

/*  Body Ends */
/*Footer Starts*/
.footer {
  margin-top: 30px;
  background: #717171;
  font-size: 12px; }

.footer-left {
  color: #fff;
  padding: 19px 2px; }

.footer-left ul {
  list-style: none; }

.footer-left ul li {
  background: url("../images/dot.jpg") no-repeat;
  background-position: 0;
  width: auto;
  font-weight: bold;
  float: left;
  padding: 0px 7px 0px 10px; }

.footer-left ul li:first-child {
  background: none; }

.footer-left ul li a {
  text-decoration: none;
  color: #fff; }

.copyright {
  color: #fff;
  padding: 19px 3px; }

/*Footer Ends*/
