.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.subtitle {
  text-align: center;
  text-transform: capitalize;
  max-width: 80%;
  margin: 1rem auto; }

xmp {
  background-color: #eee;
  font-weight: bold;
  line-height: 1.25rem;
  color: green;
  font-size: 1.1rem;
  padding: 0.5rem; }
